* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  background: var(--backgrond) url(./assets/blur-mobile.png) no-repeat bottom;
}

/* --------------- NAVBAR / MENU HAMBURGER ICON --------------- */
.navbar {
  border-bottom: 1px solid var(--border);
}

#labelDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

#logo {
  width: auto;
  height: 40px;
}

.navbar #menuLinks {
  display: none;
  height: 100vh;
  background-color: var(--backgrond);
}

.navbar #menuLinks a {
  color: var(--text-color-menu-mobile);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  border-bottom: 1px solid var(--border);
}

#menuLinks a:active {
  border-left: 5px solid var(--button);
}

#menuBurger {
  width: 30px;
  height: 30px;
  text-align: right;
}

/* --------------- HERO SECTION --------------- */

#heroSection {
  display: contents;
  width: 100vw;
  height: 100vh;
}

#heroDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
}

#heroSection h1 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 10px 5px;
}

#textGreatCoffe {
  font-size: 50px;
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#textCode {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#heroSection img {
  width: 98%;
  position: bottom center;
}

/* --------------- BUTTON Coffee --------------- */
#button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  background-color: var(--backgrond);
  color: var(--text-color);
  border: 1px solid var(--button);
  border-radius: 6px;
}
